*{
  box-sizing: border-box;
}
/* header{
  background: url(http://globalmedicalco.com/photos/globalmedicalco/6/25856.jpg); no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */
